@font-face {
    font-family: GoblinGummy;
    src: url(../fonts/GhoulFriAOE.ttf);
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(229, 227, 227);
}

header{
    font-family: GoblinGummy, 'Times New Roman';
    height: 100px;
    background-color: rgb(3,155,82) ;
    display: flex;
    flex-direction: row;
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(3,155,82);
}

#marca{
    line-height: 90px;
}

nav{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

a img{
    width: 100px;
}

#headerEsquerda{
    width: 50%;
    display: flex;
    flex-direction: row;
}

#headerEsquerda img{
    width: 100px;
}

#headerDireita{
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#iconeClicavel img{
    width: 80px;
    padding: 20px;
    height: auto;
}

button{
    background-color: rgb(3,155,82);
    border: none;
}

#menu{
    background-color: rgb(3,155,82);
    padding: 0px 0px 20px 20px;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#menuClicavel img{
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: start;
    width: 40px;
    height: auto;
}

a{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
    /* mudar a fonte daqui */
}